<div class="aboutUs">
  <li class="aboutMe">
    <img src="../assets/img/Adrienne_Dreyfus.jpg" alt="Adrienne Dreyfus" class="aboutUsPic"/>
    <p class="description"><strong><a href="https://www.linkedin.com/profile/view?id=AAMAAATH8wgBUDWPg_BW2XQYHITq8gOk7x_RGrY">Adrienne</a></strong> is Software Engineer at Fitbit. She promises that she usually writes better code than this. Her ideal qualities in a mentor would be someone who is a patient listener, appreciates functional programming and doesn't judge her by her Spotify playlists (specifically the one with mostly Nelly and Ja Rule).</p>
  </li>
  <li class="aboutMe">
    <img src="../assets/img/Katy_Duncan.jpg" alt="" class="aboutUsPic"/>
    <p class="description"><strong><a href="https://www.linkedin.com/in/duncankaty
">Katy</a></strong> is a textbook example of an entry-level employee concerned about the prospects of finding a mentor she'd be comfortable working with. While she's got a lot of promise, she's in dire need of some support and guidance to reach her true potential and make a meaningful impact in her community</p>
  </li>
  <li class="aboutMe">
    <img src="../imgs/Kelsey_Pederson.jpg" alt="" class="aboutUsPic"/>
    <p class="description"><strong><a href="https://www.linkedin.com/profile/view?id=145773907">Kelsey</a></strong> is an world-famous hula hooper who works in technology during the day and hula hoops at night. She wants to give back to the community because she sees herself in this new generation of techies and wants to help empower all genders to change the world. </p>
  </li>



</div>

