<div class="jumbotron text-center">
  <h1>Your Company's Activity</h1>

  <div class="graph">

    <div class="graph-tile">
      <img class="graph-img" src="../imgs/doughnutchart.png" alt="Doughnut chart" height="325" width="325">
      <div class="graph-title">Gender Breakdown</div>
    </div>

    <div class="graph-tile">
      <img class="graph-img" src="../imgs/piechart.png" alt="Pie chart" height="325" width="325">
      <div class="graph-title">Skills Breakdown</div>
    </div>

    <div class="graph-tile">
      <img class="graph-img" src="../imgs/connectionschart.png" alt="Connections chart" height="325" width="325">
      <div class="graph-title">Hobbies Breakdown</div>
    </div>

  </div>

</div>