<div class="jumbotron text-center">
	<h1>Foster Mentorship</h1>
  <h2>Connect With The People In Your Company</h3>
	<div ng-switch on="isAuthenticated()">
	    <div ng-switch-when="true">
	    	{{profile.first_name}}
	    	<a ng-click="logout()" href="">Logout</a>
	        <!-- code to render a large video block-->
	    </div>
	    <div ng-switch-default>
    	    <input type="image" src="../imgs/signin_with_linkedin-buttons/Non-Retina/Sign-in-Large---Default.png" />
	    	<button ng-click="authenticate('linkedin')">Sign in with LinkedIn</button>
	        <!-- code to render the regular video block -->
	    </div>
	</div>
    <br>
</div>