<h1 id="trainingTitle">How to be a Good Mentor & Mentee</h1>

<div class="jcarousel-wrapper">
    <div class="jcarousel">
        <ul>
            <li class="window">
            	<h4>Unconscious Bias</h4>
            	<p>What Is Unconscious Bias?
Research shows that our brains jump to assumptions and conclusions without us even knowing it. This
is the science of “unconscious bias”. Unconscious bias applies to how we perceive other people. We are
all biased and becoming aware of our biases will help us mitigate them in the workplace. Interestingly,
the research shows that both men and women share and apply the same assumptions about gender.<br/></p>
            	For more information<a href="https://www.gv.com/lib/unconscious-bias-at-work"> checkout Google's presentation.</a>
            </li>
            <li class="window">
				A good mentor possesses the following qualities: <br/>

				Willingness to share skills, knowledge, and expertise.
				A good mentor is willing to teach what he/she knows and accept the mentee where they currently are in their professional development. Good mentors can remember what it was like just starting out in the field. The mentor does not take the mentoring relationship lightly and understands that good mentoring requires time and commitment and is willing to continually share information and their ongoing support with the mentee.
				Demonstrates a positive attitude and acts as a positive role model.
				A good mentor exhibits the personal attributes it takes to be successful in the field. By showing the mentee what it takes to be productive and successful, they are demonstrating the specific behaviors and actions required to succeed in the field.

            </li>
            <li class="window">But despite these significant milestones, a few key obstacles remain — particularly in the workplace. Research proves that the pay gap widens when salaries breach the $100,000 mark, meaning that the few women who are at the top of the corporate ladder are still getting paid less than their male counterparts. 

Yes, women have come a long way, but these key challenges remain: <br/><br/>

1.	<a href="http://www.theguardian.com/women-in-leadership/2015/jul/27/maternity-leave-discrimination-pregnant-then-screwed-stories">Maternity Leave</a><br/>
2.	<a href="http://www.pewsocialtrends.org/2015/01/14/chapter-1-women-in-leadership/">Leadership Roles</a><br/>
3.	<a href="http://money.usnews.com/money/careers/articles/2015/02/12/6-things-to-know-about-workplace-sexual-harassment">Sexual Harassment</a><br/>
4.	<a href="http://www.cnbc.com/2015/04/09/how-women-can-break-through-the-glass-ceiling.html">The Glass Ceiling</a><br/>
</li>
            <li class="window">
<h4>How to be a good mentee</h4>
<p><strong>DON’T PUT ALL THE PRESSURE ON ONE PERSON</strong><br/><br/>
Not only does seeking out multiple mentors take the pressure off each one, "You need more than one mentor in today’s complex career environment," says Wendy Murphy, a professor of management at Babson College and coauthor of the book Strategic Relationships at Work. Look for people inside and outside your workplace. Don’t write off people who are right around your level: "Peers are the most underutilized source of mentoring support," Murphy says. As a corollary, don’t pursue someone just because she’s famous and successful. The ultimate way to impress a mentor is to show you know exactly how she can help you. Not everyone can.

</p>
            </li>
            <li class="window"><h4>How to be a good mentee</h4>
            	<strong>TAKE THE LEAD</strong><br/><br/>
"Good protégés take the lead in the relationship because it’s about their development," Murphy says. Have an agenda in advance of every meeting with a specific objective of what you hope to get out of it. If you need to do research ahead of time, do it. You want to make it easy on people.


</li>
            <li class="window"><h4>How to be a good mentee</h4>
            	<p><strong>MEET ON YOUR MENTOR’S TERMS</strong><br/><br/>
Go to her office or home. Join her for a 6 a.m. run or drive her to the airport. This is partly about making life easy for your mentor, but it also means she may be willing to meet more often. "Interaction frequency is one of the highest predictors of feeling close to someone," Murphy says.

</p>
</li>
        </ul>
    </div>

    <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
    <a href="#" class="jcarousel-control-next">&rsaquo;</a>
    
    <p class="jcarousel-pagination" style="margin-top:50px">
       
    </p>
</div>