<div class="jumbotron text-center">
	<h1>Profile</h1>

	{{users}}

    <div id="users-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form>
                <div class="form-group">

                    <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                    <input type="text" class="form-control input-lg text-center" placeholder="Enter first name" ng-model="formData.first_name">
                    <input type="text" class="form-control input-lg text-center" placeholder="Enter last name" ng-model="formData.last_name">
                    <input type="text" class="form-control input-lg text-center" placeholder="Enter last name" ng-model="formData.last_name">
                    <input type="text" class="form-control input-lg text-center" placeholder="Enter last name" ng-model="formData.last_name">
                    <input type="text" class="form-control input-lg text-center" placeholder="Enter last name" ng-model="formData.last_name">
                    <input type="text" class="form-control input-lg text-center" placeholder="Enter last name" ng-model="formData.last_name">
                    <input type="text" class="form-control input-lg text-center" placeholder="Enter last name" ng-model="formData.last_name">
                    <input type="text" class="form-control input-lg text-center" placeholder="Enter last name" ng-model="formData.last_name">
                    <input type="text" class="form-control input-lg text-center" placeholder="Enter last name" ng-model="formData.last_name">
                </div>

                <!-- createToDo() WILL CREATE NEW TODOS -->
                <button type="submit" class="btn btn-primary btn-lg" ng-click="createUser()">Add</button>
            </form>
        </div>
    </div>
</div>